*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --yellow: #F9D570;
    --white: #F2F2E8;
    --red: #A53131;
    --black: #222;
    --blue: #2E81D3;
}
body {
    font-family: 'segoe ui', sans-serif;
    font-weight: 350;
    background-color: var(--yellow);
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--white);
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 10em;
}
.container>* {
    padding: 0 1em;
}

.breadcrumbs {
    list-style-type: none;
    padding: 0;
    display: flex;
    grid-column: 1 / -1;
}

.breadcrumbs li::after {
    content: " > ";
}

main {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 45px;
}

h1 {
    font-size: 3em;
    line-height: .1;
    }

    h1>small {
        font-size: .6em;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin-bottom: 0.2em;
    color: #555;
    }

    h1 {
    font-weight: 800;
    color: var(--red);
    line-height: 0.9;
    }

    h2 {
        border-bottom: 1px solid #ccc;
        font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
}


header {
    border-bottom: 1px solid #ccc;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

a,
a:link,
a:visited {
    font-weight: 600;
    text-decoration: none;
    color: var(--blue);
}
a[href="#"] {
    color: red;
}
a.nav-item {
    padding: 0.53em;
    border-radius: 12px;
    display: block;
    text-decoration: none;
}
a.nav-item.active {
    border: solid 3px red;
}

/* --------- MAP ---------- */

#map {
    width: 100%;
    height: 450px;
}

/* ---------- FOOTER ============ */

footer {
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .tech ul {
    display: flex;
    justify-content: space-between;
}
/* ------- Home page specific styles -------------- */

.homepage main {
    grid-template-columns: 2fr 1fr 1fr;
}

.homepage h1 {
    grid-column: 1 / -1;
}

/* .updates>p>p {
    display: inline;
} */
