*,
*::before,
*::after {
    box-sizing: border-box;
}

/* :root { */
/* --yellow: #F9D570; */
/* --white: #F2F2E8; */
/* --red: #A53131; */
/* --midgrey: #555; */
/* --black: #222; */
/* --blue: #2E81D3; */
/* } */

:root {
    --yellow: #433f32;
    --white: #2c2c29bb;
    --black: #f0d176;
    --red: hsl(0, 54%, 42%);
    --midgrey: #979797;
    --blue: #257ECA;
    --border-color: #444;
    --img-border: #333;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --yellow: #f9d570;
        --white: #f2f2e8bb;
        --black: #292929;
        --red: hsl(0, 54%, 42%);
        --midgrey: #555;
        --blue: #257ECA;
        --border-color: #ccc;
        --img-border: #bbb;
    }
}

html {
    font-size: 22px;
}

body {
    font-family: 'segoe ui', sans-serif;
    font-weight: 300;
    color: var(--black);
    background-color: var(--yellow);
    background-image: url(/images/layered-peaks-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 200px;
    row-gap: 40px;
    min-height: 100vh;
    background-color: var(--white);
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    border-left: solid 1px var(--yellow);
    border-right: solid 1px var(--yellow);
}

.container>* {
    padding: 0 1em;
}

.breadcrumbs {
    list-style-type: none;
    padding: 0;
    display: flex;
    grid-column: 1 / -1;
}

.breadcrumbs li::after {
    content: " > ";
}

main {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 45px;
}

h1 {
    font-size: 3em;
    line-height: .1;
}

h1>small {
    font-size: .6em;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin-bottom: 0.2em;
    color: var(--midgrey, #555);
}

h1 {
    font-weight: 700;
    color: var(--red);
    line-height: 0.9;
}

h2 {
    border-bottom: 1px solid #ccc;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
}


/* header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
} */

header {
    width: 100%;
    padding: .5em 1rem;
    border-bottom: solid 1px var(--border-color);
    border-top: solid 1px var(--border-color);
    margin-bottom: 1.1em;
    margin-top: 0.5em;
    /* this works on grid pages, non grid it forces the container down. */
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 1.5em;
    justify-content: space-between;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav a,
header nav a:link,
header nav a:visited,
.craglist li a,
.craglist li a:link,
.craglist li a:visited {
    display: block;
    padding: .3em;
    text-align: center;
    font-weight: 700;
    font-size: .9em;
    border: solid 2px #257ECA;
    height: 100%;
    border-radius: 8px;
}

.craglist li {
    margin-bottom: 8px;
}

a,
a:link,
a:visited {
    font-weight: 600;
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    background: #2E81D3;
    color: #fff;
}

header nav a[href="#"],
.craglist a[href="#"]:link,
.craglist a[href="#"]:visited {
    color: white;
    background-color: var(--red);
    border-color: var(--red);
}

.craglist a {
    padding: 0.53em;
    display: block;
    text-decoration: none;
}

.craglist a.active {
    border: solid 3px var(--red);
    background-color: var(--red);
    color: #fff;
}


img {
    max-width: 100%;
}

/* --------- MAP ---------- */

#map {
    width: 100%;
    height: 450px;
}

/* ---------- FOOTER ============ */

footer {
    border-top: 1px solid var(--border-color);
}

footer .tech ul {
    display: flex;
    justify-content: space-between;
}

/* ------- Home page specific styles -------------- */

.homepage main {
    grid-template-columns: 2fr 1fr 1fr;
}

.homepage h1 {
    grid-column: 1 / -1;
}

.homepage figure {
    margin: 0;
}

/* .updates>p>p {
    display: inline;
} */


.template_type {
    font-size: 80%;
    color: #aaa;
}

/* @media screen and (prefers-color-scheme: dark) {
    :root {
        --yellow: #2b2b2b;
        --white: #323232;
        --red: #A53131;
        --midgrey: #827b7b;
        --black: #d2d0d0;
        --blue: #A47812;
    }
}
*/
