<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="{{ if .IsHome }}homepage{{ else }}
{{ replace .Name " " "-" }}{{end }}">

    <div class=" container">
        {{- partial "header-2.html" . -}}
        <main>
            <h1>{{ .Title }} {{ with eq "Type" "region" }}
                Region
            {{ end }}</h1>
            {{- partial "breadcrumbs.html" . -}}
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . }}
    </div>
</body>
</html>
