<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="{{ if .IsHome }}homepage{{ else }}{{ replace .Name " " "-" }}{{end }}">

{{ if site.Params.snow }}
  {{ if or (.IsHome) (eq .Section "north-wales") }}
    {{ partial "snowflakes" . }}
    
  {{ end }}
{{ end }}

    <div class=" container">
        {{- partial "header-2.html" . -}}
        <main>
            <h1>{{ if .IsHome }}{{ .Site.Title }}
                {{ else }}{{ .Title }} {{ if eq .Params.type "region" }} Region {{ end }}
            {{ end }}
            {{ with .Params.subtitle }}<br><small>{{ . }}</small>{{ end }}</h1>
            {{- partial "breadcrumbs.html" . -}}
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . }}
    </div>
    {{ if .IsHome }}
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    {{ end }}

</body>
</html>
