
{{ define "main" }}
    

    <div class="content">
    <h1>{{.CurrentSection.Title}} {{ .Title }}</h1>
    <time>{{ .Date.Format "Mon 02 Jan 06" }}</time>

    {{ .Content }}
    </div>


    
    <ul>
        <li><a href="../index.html">{{ .Parent.Title}}</a></li>
        {{ $currentPage := . }}
        {{ range .CurrentSection.Pages }}
    
            {{ if eq . $currentPage }}
    
                <li><a href="#">{{ .Title }}</a></li>
    
            {{ else }}
    
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
    </ul>


    <ul>
        {{ range .Resources.ByType "markdown" }}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{ end }}
    </ul>

{{ end }}
