{{/* This is used by list pages from within list.html */}}



<div class="sidebar list-sidebar">
    <div class="template_type">template: partials/list-sidebar.html</div>
    <ul class="craglist">
        <li><a href="#" class="nav-item">{{ .CurrentSection.Title }}</a></li>
        {{ range .Pages }}
        <li><a href="{{.Permalink}}" class="nav-item">{{.Title}}</a></li>
        {{ end }}
    </ul>

    <ul class="craglist">
        {{ with .Params.nearby }}
        {{ range . }}
        <li><a href="../{{ . | urlize }}" class="nav-item">{{ . }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
    <ul class="craglist">
        <li>
            {{ with .Section }}
            <a href="/{{ . | urlize }}/" class="nav-item">{{ . | humanize | title }}</a>
        </li>
        <li><a href="/" class="nav-item">Home</a></li>

        {{ end }}
    </ul>

    <hr>
    {{ if .Params.locale }}

    <ul class="craglist">
        {{ $loc := .Params.locale }}
        {{ range where site.Pages "Params.locale" $loc }}
        <li><a href="{{ .Permalink }}" class="nav-item">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    <hr>
    <p>{{ $loc }}</p>
    {{ end }}
</div>
