

<div id="map"></div>

<script>
var map = L.map('map').setView([{{ index .Params.longlat 1  }}, {{ index .Params.longlat 0 }}], {{ with (index .Params.longlat 2) }}{{ . }}{{ else }}16{{ end }});



L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var marker = L.marker([{{ index .Params.longlat 1  }}, {{ index .Params.longlat 0 }}]).addTo(map)
    .bindPopup("<b>{{ .Title }}</b><br />{{ with .Params.map_label_text }}{{ . }}{{ end }}").openPopup();



</script>

    
